<h1>You have Created a New Team</h1> 

<a href="/projects"><button class="btn">See all Projects</button></a>
<a href="/teams"><button class="btn">See all Teams</button></a>
<a href="/teams/new"><button class="btn">Create a New Team</button></a>