<h1> Create a New Team </h1>

<%= form_tag "/projects/#{}/teams", method: :post do %>
<div>
Team Name: <input type="text" name="name" value="<%= @team.name %>">
</div>

<div>
Project Id: <input type="integer" name="project_id" value="<%= @team.project_id %>">
</div>

<input type="submit" value="Create New Team">
<% end %>
