
<br>
<section id="portfolio" class="info-box">
    <div class="container-fluid">

        <ul class="list-inline text-center">
            <li><a href="/projects"><button class="btn"><b>Your Projects</b></button></a></li>
            <li><a href="/students"><button class="btn"><b>Your Students</b></button></a></li>
        </ul><!--end portfolio filter -->
        <br>
<!-- project -->
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <% @my_students.each do |student| %>
            
          <!--   <img src="<%= student.Image %>" alt="W3Schools.com"> -->

            <!-- project -->
            <li class="col-xs-6 col-md-2 project" data-groups='["illustration"]'>
                <div class="primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="<%= student.Image %>" alt="">
                    <!-- / project-image -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title"><%= student.name %></h5>
                        <!-- <p class="skill">SKILLS</p> -->
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <% end %>

            <li class="col-xs-6 col-md-2 project" data-groups='["illustration"]'>
                <div class="primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="https://www.shareicon.net/download/2015/08/14/84875_add_512x512.png" alt="">
                    <!-- / project-image -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title"><a href="/add_student">Add New Student</a></h5>
                        <!-- <p class="skill">SKILLS</p> -->
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li> 
        </ul>
</section>
</div>