
<section id="portfolio" class="info-box">
    <div class="container-fluid">
        <!-- portfolio filter -->
        <ul class="portfolio-filter list-inline text-center">
         
            <li><a href="/students" data-group="branding">All Students</a></li>
            <h4><%= @student.email %></h4> 
            
        </ul> 
    </div>
</section>



