<h1>Your Students</h1>

<div class="row">
  <% @students.each do |student| %>
  <div class = "col-md-4">
    <div class = "thumbnail well">
      <h2><a href="/students/<%= student.id %>"><%= student.first_name %></a></h2>
    </div>
  </div>
  <% end %> 
</div>

<a href="/students/new"><button class="btn">Add New</button></a>
