<h1>Your Students</h1>
<% @students.each do |student| %>
  <h2><%= student.first_name  %></h2>
  <h3><%= student.last_name %></h3>
  <h3><%= student.email %></h3>
  <h3><%= student.password %></h3>

  <br>
<% end %>