<h1>Student Login</h1>
<%= form_tag '/student_login', method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div> 

  <div>
    Password: <input type="password" name="password">
  </div>

  <input type="submit" value="Log In">
<% end %> 

</br>
<!-- header-banner -->
    <div id="header-banner" class="demo-1">
        <div class="banner-content text-center">
            <div class="banner-info">
                
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->
