<h1>Projects</h1>

<div class="row">
  <% @projects.each do |project| %>
  <div class = "col-md-4">
    <div class = "thumbnail well">
      <h2><a href="/projects/<%= project.id %>"><%= project.name %></a></h2>
    </div>
  </div>
  <% end %> 
</div>

<a href="/projects/new"><button class="btn">Create a New Project</button></a>