
<section id="portfolio" class="info-box">
    <div class="container-fluid">
        <!-- portfolio filter -->
        <ul class="list-inline text-center">
         
            <li><a href="/projects"><button class="btn">Your Projects</button></a></li>
            <li><a href="/students"><button class="btn">Your Students</button></a></li>

        </ul><!--end portfolio filter -->

        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <% @projects.each do |project| %>
            
            <!-- project -->
            <li class="col-xs-6 col-md-2 project" data-groups='["illustration"]'>
                <div class="primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img id="project-image" src="<%= project.image %>" alt="">
                    <!-- / project-image -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title"><a href="/projects/<%= project.id %>"><%= project.name %></a></h5>
                        <!-- <p class="skill">SKILLS</p> -->
                    </div><!-- / project-details -->
                </div><!-- / -->
            </li> 
            <% end %>
            <!-- project -->
            <li class="col-xs-6 col-md-2 project" data-groups='["illustration"]'>
                <div class="primary">
                    <a href="single-project.html" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/9472-200.png" alt="">
                    <!-- / project-image -->
                    

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title"><a href="/projects/new">Add New Project</a></h5>
                        <!-- <p class="skill">SKILLS</p> -->
                    </div><!-- / project-details -->
                </div><!-- / -->
            </li> 
            </ul>
            
            <!-- / project -->