<ul class="list-inline text-center">
  <li><a href="/projects"><button class="btn">Your Projects</button></a></li>
</ul><!--end portfolio filter -->


<h1> New Project</h1>

<%= form_tag "/projects", method: :post do %>
<div>
Name: <input type="text" name="name" value="<%= @project.name %>">
</div>

<div>
Subject: <input type="text" name="subject" value="<%= @project.subject %>">
</div>

<div>
Description: <input type="text" name="description" value="<%= @project.description %>">
</div>
<br>
<input type="submit" value="Create New Project">
<% end %>
