<ul class="list-inline text-center">

  <a href="/projects"><button class="btn">All Projects</button></a>
  <a href="/projects/<%= @project.id %>/teams"><button class="btn">All Teams</button></a>
  <a href="/projects/<%= @project.id %>/tasks"><button class="btn">All Tasks</button></a>
  <br>
  <br>
</ul>
<h1><%= @project.name %></h1>

<!-- well -->
        <div class="row">
            <div class="col-sm-12">
                <div class="well"><h4><%= @project.description %></h4> 
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / well -->



