<a href="/projects">All Projects</a>
<br>
<h2><%= @project.name %></h2>
<h4><%= @project.subject %></h2>
<h4><%= @project.description %></h4> 

<a href="/teams"><button class="btn">See all Teams</button></a>
<a href="/tasks"><button class="btn">See all Tasks</button></a>
