<h3>Register with Google</h3>
<br>

    <!-- <div>
      Team ID: <input type="text" name="team_id" value="<%= @team_id %>">
    </div> -->

<!-- <div class="row">
            <div class="col-sm-12">
                <div class="well">
                  <h3>I am a...</h3>
                  <select>
                    <option value="admin">Teacher</option>
                    <option value="student">Student</option>
                  </select>
                </div>
              </div><!-- / col-sm-12 --> 

<!-- <h5>I am a...</h5>

<div class="user_type">
    <select>
      <option value="admin">Teacher</option>
      <option value="student">Student</option>
    </select>
  </div>
  <br>  -->

  <%= render "students/shared/links" %> 

